@define-color text white;
/* @define-color text @foreground; */
@define-color bg rgb(45, 45, 45);
@define-color background-alt alpha(@bg, 0.9);
@define-color selected @color6;
@define-color hover alpha(@selected, 0.7);
@define-color urgent @color2;

* {
  color: @text;

  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font 10";
  transition: 500ms;
}

.image {
  margin: 8px 12px 8px 0px;
  color: @text;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
  color: @text;
}

.body {
  font-size: 0.8rem;
  color: @text;
}

.time {
  font-size: 0.8rem;
  color: @text;
}


/* Rest of the screen */
.blank-window {
  /* Jarring since waybar is not darkened */
  /* background: rgba(0, 0, 0, .2); */
  background: transparent;
}

/* Main panel */
.control-center {
  background: alpha(@background, 0.75);
  border-radius: 24px;
  border: 1px solid @selected;
  margin: 8px;
  padding: 12px;
}

/* Widgets */

/* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
  font-weight: 600;
  color: @text;
}

.widget-dnd>switch {
  background: @background-alt;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd>switch:hover {
  background: @hover;
}

.widget-dnd>switch:checked {
  background: @selected;
}

.widget-dnd>switch:checked:hover {
  background: @hover;
}

.widget-dnd>switch slider {
  background: @text;
  border-radius: 6px;
}

/* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
  font-weight: 600;
  color: @text;
}

.widget-title button {
  background: @background-alt;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

/* Notifications */
/* Notification container */
.control-center-list {
}

/* Grouped notifications */
.notification-group {
  /* background-color: red; */
}

.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 2px;
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}

/* Individual notification */
.notification-group .notification-row {
  background-color: @bg;
  opacity: 1;
  margin: 4px 0px;
  padding: 4px;
  border-radius: 16px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 8px;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  background: @selected;
}
.control-center .notification-row .notification-background .notification .notification-content .time{
  color: transparent;
}

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: @text;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @selected;
}


/* Floating notifications (Top right) */
.floating-notifications .notification-background {
  border-radius: 8px;
  background-color: alpha(@color6, .85);
  margin: 4px 8px;
  transition: none;
  animation: none;
}

/* First margin should be 8px from top */
.floating-notifications .notification-row:first-child {
  margin-top: 4px;
}

.floating-notifications .notification-background .notification-content {
  padding: 8px;
}

.floating-notifications .notification-row .close-button {
  padding: 8px 4px;
}

.floating-notifications .notification-default-action:hover {
  background-color: alpha(black, 0.2);
}