.notification-row {
  background: red;
  outline: none;
  padding: 0px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .6);
  
  border-radius: 8px;
  
  margin: 0px;
  margin-right: 8px;
  margin-bottom: 4px;
}
