.notifications-list {
  .empty-notifications {
    image {
      color: $white;
      font-size: 120px;
    }
  }

  .notifications-header {
    padding: 4px;
    
    button {
      background: transparent;
      box-shadow: none;
      border: none;
      font-size: 16px;
      padding: 0;
      color: $white;
    }
    
    label {
      color: $white;
      font-weight: 700;
    }
  }
}