.workspaces {
  .workspace {
    padding: 0px 2px;
    font-size: 16px;
    margin: 0;
    border: none;
    color: $color6;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
  }

  .workspace:hover {
    color: darken($color6, 10%);
  }
}
