.system-status-widget {
  margin-bottom: 8px;
  border-radius: 16px;
  font-weight: 700;

  .current-user {
    min-width: 64px;
    min-height: 64px;
    background-size: cover;
    border-radius: 999px;
  }

  .action-button {
    -gtk-icon-shadow: none;
    border: none;
    border-radius: 8px;
    box-shadow: none;
    background: transparent;

    font-size: 20px;
    text-shadow: none;
    color: white;
  }

  .action-button:hover {
    background: transparentize($color6, 0.3);
    color: $fg;
  }
}