.system-buttons {
  .toggle-button {
    -gtk-icon-shadow: none;
    text-shadow: none;
    box-shadow: none;
    color: $white;
    background-color: transparent;
    padding: 16px;
    border-radius: 16px;
    border: none;
    font-weight: 700;

    transition: background-color ease-in 0.2s;
  }

  .active {
    background-color: $primary;
    color: $black;
  }
}