.system-sliders {
  .circular-progress {
    background: transparentize($primary, 0.9);
    color: $primary;
    font-size: 24px;

    min-height: 64px * 2;
    min-width: 64px * 2;

    .circular-progress-inner {
      color: $white;
      font-size: 28px;

      label {
        font-size: 14px;
      }
    }
  }
}