.bar {
  background-color: transparent;
  color: $color6;
  font-weight: bold;

  .bar-content {
    .island {
      padding: 2px 8px 4px;
      background-color: transparentize($background, 0.5);
    }

    .left {
      border-bottom-right-radius: 12px;
    }

    .center {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    .right {
      border-bottom-left-radius: 12px;
    }
  }
}