window#notifications-menu .notifications-menu {
  margin: 8px;
  padding: 12px;
  font-size: 14px;
  color: $fg;
  background: $bg;

  border: 1px solid;
  border-radius: 8px;
  border-color: $primary;

  .calandar {
    background: $widget-bg;
    border-radius: 8px;
    padding: 8px;
  }
}