window#notifications-menu .notifications-menu {
  margin: 2px;
  padding: 12px;
  font-size: 14px;
  color: $fg;
  background: $bg;

  border-radius: 16px;

  .calandar {
    background: $widget-bg;
    border-radius: 16px;
    padding: 8px;
  }
}