window#notification-popups  {
  background: transparent;

  .notifications-list {
    // https://aylur.github.io/ags-docs/config/common-issues/#window-doesnt-show-up
    min-height: 1px;

    margin: 8px;
  }

  .notification {
    border-radius: 8px;
    padding: 4px 8px;
  }
}